.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.test-box{
  display: flex;
}

.sidebar{
  flex: 15%;
}

.main{
  flex: 83%;
}

.main-container{
  padding: 5px;
}

.wrapper {
  max-width: 250px;
  background: #fff;
  padding: 10px;
  align-content: center;
  margin-left: 75px;
  border-right: 1px solid black
}
.menu-item {
  margin-bottom: 20px;
}
.dropdown {
  cursor: pointer;
  margin-bottom: 20px;
}
.dropdown-item {
  padding: 10px;
  margin-top: 20px;
  background: #e2e2e2;
}
.logo {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  width: 100px;
}

